<section>
  <img class="thumb" src="<%= book.image_url %>">
  <h4 class="title"> <%= book.title %> </h4>
  <p class="author"> <%= book.author %> </p>
  <p class="description"> <%= book.description %> </p>
  <p class="isbn">ISBN: <%= book.isbn %></p>
</section>