<!DOCTYPE html>
<html>
  <head>
    <title><%= book.title %></title>
    <link href="../styles/base.css" rel="stylesheet">
    <link href="../styles/layout.css" rel="stylesheet">
    <link href="../styles/modules.css" rel="stylesheet">
  </head>
  <body>
   <%- include('./layout/header.ejs') %>
    <main>
      <section id="detail" class="bookDetail">
      <%- include('./layout/detail.ejs') %>
    
      <% if(display){ %>
        <%- include('./layout/form.ejs') %>       
      <% } %>
      <section id="detailForms">
        <form action="/showForm/<%= book.id %>">
          <button class="updateDelete" type="submit">Update Book</button>
        </form>
        <form action="/delete/<%= book.id %>?_method=DELETE" method="POST">
          <button class="updateDelete" type="submit">Delete Book</button>
        </form>
      </section>
    </section>
    </main>
    <footer>

    </footer>
  </body>
</html>